<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap and HTMX things. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="js/htmx.min.js" defer></script>
    <link rel="stylesheet" href="css.css">
    <title>Landing Page</title>
</head>
<body> 
    <div hx-get="/nav.html" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>
    <h1>Landing Page</h1>
    <div hx-get="/cards.html" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>

    <!-- Bootstrap thing.  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>